<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <rect x="4" y="5" width="16" height="16" rx="2" ry="2" stroke="white" stroke-width="2" fill="none"/>
        <line x1="16" y1="3" x2="16" y2="7" stroke="white" stroke-width="2"/>
        <line x1="8" y1="3" x2="8" y2="7" stroke="white" stroke-width="2"/>
        <line x1="4" y1="11" x2="20" y2="11" stroke="white" stroke-width="2"/>
        <rect x="7" y="14" width="3" height="3" fill="white"/>
        <rect x="14" y="14" width="3" height="3" fill="white"/>
      </svg>
      <span class="ml-3 text-xl">Pleasant Events</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
        <%= link_to "Upcoming Events", events_path, class: "mr-5 hover:text-gray-900"  %>
        <%= link_to "Past Events", past_events_events_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "New Event", new_event_path, class: "mr-5 hover:text-gray-900" %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "mr-5 hover:text-gray-900" %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "Log In", new_user_session_path, class: "mr-5 hover:text-gray-900" %>
      <% end %>
    </nav>
  </div>
</header>
