<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pleasant Events" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'My Events', events_path %></li>
          <li><%= link_to 'Past Events', past_events_events_path %></li>
          <li><%= link_to 'New Event', new_event_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
